{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        html, body {height: 100%; margin: 0;}
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col" style="max-width:500px;">
                {% block fos_user_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
