{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col" style="max-width:500px;">
                {% block fos_user_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
